<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Servlet.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload1</servlet-name>
        <servlet-class>Classes.upload1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloaded1</servlet-name>
        <servlet-class>Classes.downloaded1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadDES</servlet-name>
        <servlet-class>Classes.downloadDES</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>performanceService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SearchService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GetFileDataService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>getfilelistService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload1</servlet-name>
        <url-pattern>/upload1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloaded1</servlet-name>
        <url-pattern>/downloaded1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadDES</servlet-name>
        <url-pattern>/downloadDES</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>performanceService</servlet-name>
        <url-pattern>/performanceService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchService</servlet-name>
        <url-pattern>/SearchService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFileDataService</servlet-name>
        <url-pattern>/GetFileDataService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getfilelistService</servlet-name>
        <url-pattern>/getfilelistService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
